* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    background-color: #ACD7E5;
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

footer {
    background-color: #23272A;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    height: 100%;
    margin: 0 auto;
    padding: 2rem 0;
}

.nav-bar {
    display: flex;
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    height: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

.nav-bar .col {
    background-color: #DAA51F;
    border: 1px dashed black;
    padding: 5px;
    height: 30px;
}

.side-column {
    width: 20%;
}

.center-column {
    flex-grow: 1;
    text-align: center;
}

.background-image {
    background-color: #00008B;
    height: 300px;
    border-bottom: 3px solid #ACD7E5;
}

.container .titles-section {
    background-color: #EF82EE;
    border: 1px dashed #000;
    height: 100%;
    width: 75%;
    margin: 0 auto;
}

main .white { 
    background-color: #fff;
    min-height: 100%;
}

main .grey { 
    background-color: #D3D3D3;
}

.central-section {
    display: flex;
    height: 450px;
}

.central-section-blue {
    background-color: #1E90FF;
    height: 100%;
    flex-grow: 1;
    border: 1px dashed #000;
}

.central-section-pink {
    background-color: #FFC0CB;
    height: 100%;
    min-width: 400px;
    border: 1px dashed #000;
}

.reverse {
    flex-direction: row-reverse;
}

.last-section {
    height: 800px;
}

.central-section-green {
    background-color: #228B22;
    border: 1px dashed #000;
    height: 100%;
}

.footer-columns {
    display: flex;
    min-height: 450px;
    margin-top: -20px;
    border: 1px dashed #000;
}

.footer-columns .jumbo-col {
    background-color: #F08080;
    border: 1px dashed #000;
    flex-grow: 1;
}

.footer-columns .smaller-col {
    background-color: #1FB2AA;
    border: 1px dashed #fff;
    min-width: 170px;
}